@model Ronature.AplicacionWeb.Models.ViewModels.VMUsuarioLogin;
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>
<html lang="ES">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Expediente Digital C.T.E. </title>

    <!-- Custom fonts for this template-->
    <link href="~vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~css/sb-admin-2.css" rel="stylesheet">

    @*particles*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>

<body class="bg-gradient-info" >
    <!-- particles.js container -->
@*<div id="particles-js" style="background-color:white ; background-size: cover; background-repeat: no-repeat; background-position: 100% 100%; height:700px; ">*@


    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">

                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bienvenido</h1>
                                    </div>
                                    <form class="user" asp-controller="Acceso" asp-action="Login" method="post">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user" placeholder="Correo" asp-for="TxtCorreo">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" placeholder="Contraseña" asp-for="TxtClave">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="chkMantenerSesion" asp-for="MantenerSesion">
                                                <label class="custom-control-label" for="chkMantenerSesion">Mantener Sesión</label>
                                            </div>
                                        </div>

                                         @if (ViewData ["Mensaje"] != null)
                                        {
                                                <div class="form-group">
                                                    <div class="alert alert-danger" role="alert">
                                                    @ViewData["Mensaje"]
                                                    </div>
                                                </div>
                                        }
                                         

                                        <button type="submit" class="btn btn-primary btn-user btn-block" style="background-color:#9c223c; border-color:#9c223c">
                                            Ingresar
                                        </button> 
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="@Url.Action("RestablecerClave","Acceso")">¿Olvidó su contraseña?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>



 </div>
    <!-- scripts -->
    <script src="~/js/particles.js"></script>
    <script src="~/js/app.js"></script>

    <!-- stats.js -->
    <script src="~/js/stats.js"></script>



    <script>
        var count_particles, stats, update;
        stats = new Stats;
        stats.setMode(0);
        stats.domElement.style.position = 'absolute';
        stats.domElement.style.left = '0px';
        stats.domElement.style.top = '0px';
        //document.body.appendChild(stats.domElement);
        count_particles = document.querySelector('.js-count-particles');
        update = function () {
            stats.begin();
            stats.end();
            if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
                count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
            }
            requestAnimationFrame(update);
        };
        requestAnimationFrame(update);
    </script>

</body>

</html>


